<bk-corp-select name="mySelect" label="Campo básico" 
    placeholder="Selecciona una opción" required="false" 
    disabled="false"
    [(ngModel)]="model.cityname">

    <bk-corp-select-option *ngFor="let city of cities"
        [value]="city.value">
        {{city.label}}
    </bk-corp-select-option>

</bk-corp-select>
<bk-corp-select name="mySelect" label="Campo requerido" 
    placeholder="Selecciona una ciudad" required="true" disabled="false"
    [(ngModel)]="model.cityname">

    <bk-corp-select-option *ngFor="let city of cities" 
        [value]="city.value">
        {{city.label}}
    </bk-corp-select-option>

</bk-corp-select>
<bk-corp-select name="mySelect" label="Campo deshabilitado"
    placeholder="Pick a city from the list" required="false" disabled="true"
    [(ngModel)]="model.cityname">

    <bk-corp-select-option *ngFor="let city of cities"
        [value]="city.value">
        {{city.label}}
    </bk-corp-select-option>

</bk-corp-select>

<div style="margin-top: 20px">
  Valor seleccionado: <span>{{model?.cityname}}</span>
</div>