<bk-corp-select name="mySelect" label="Programático" 
  placeholder="placeholder ejemplo" disabled="false"
  [(ngModel)]="model.cityName" #obligatorio="ngModel">

    <bk-corp-select-option *ngFor="let city of cities" [value]="city.value">
      {{city.label}}
    </bk-corp-select-option>

</bk-corp-select>
<p>
  <button (click)="changeModel()">Cambiar ciudad</button>
</p>
<p>
  <button (click)="changeOptions()">Cambiar opciones</button>
</p>

<div style="margin-top: 20px">
  Valor seleccionado: <span>{{model?.cityName}}</span>
</div>