
 li.custom-item-select {
    border-bottom: 1px solid #d3d3d2;
    color: #3d3935;
    font-family: Arial;
    font-size: 16px;
    height: 50px;
    padding: 14px 12px;

    &:hover,
    &.match {
      background-color: #e3e3e2;
      color: #867e76;
      cursor: pointer;
    }

    &:focus {
      outline:0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
