

/* App common */
// Layers
$bkc-zindex-top: 10 !default;

// Colors
$bkc-dark: #3d3935 !default;

$bkc-dark-font: $bkc-dark !default;
$bkc-dark-emphasis: $bkc-dark !default;

$bkc-readonly-font-color: #958e87 !default;

/* Form Input common */
// Colors
$bkc-input-border-color: #d3d3d3 !default;
$bkc-input-background: #fff !default;
$bkc-input-value-color: $bkc-dark-font !default;
$bkc-input-label-color: $bkc-dark-font !default;
$bkc-input-icon-background: #e8e8e8 !default;
$bkc-input-icon-color: #bababa !default;

$bkc-input-error-border-color: #cc1e1e !default;

$bkc-input-disabled-background-color: #fbfbfb !default;
$bkc-input-disabled-border-color: #dededd !default;
$bkc-input-disabled-label-color: #adacab !default;
$bkc-input-disabled-value-color: #aaa8a7 !default;
$bkc-input-disabled-icon-background: #f2f2f2 !default;
$bkc-input-disabled-icon-color: #d6d6d5 !default;

$bkc-input-readonly-background-color: #f7f6f6 !default;
$bkc-input-readonly-border-color: #d3d3d2 !default;
$bkc-input-readonly-label-color: $bkc-readonly-font-color !default;
$bkc-input-readonly-value-color: $bkc-dark-font !default;

$bkc-input-required-background-color: #f9f9d5 !default;
$bkc-input-required-label-color: $bkc-dark-font !default;
$bkc-input-required-value-color: $bkc-dark-font !default;

// Fonts
$bkc-input-font-family: Arial;

$bkc-input-label-font-size: 14px;
$bkc-input-label-font-weight: bold;

$bkc-input-value-font-size: 16px;
$bkc-input-value-font-weight: 100%;

// Dimensions & Border
$bkc-input-height: 60px !default;
$bkc-input-button-width: 43px !default;
$bkc-input-border-radius: 3px !default;

/* Component specific */
$bkc-select-placeholder-color: $bkc-readonly-font-color !default;
$bkc-select-border-focus: $bkc-dark-emphasis !default;
$bkc-select-icon-color-focus: $bkc-dark-emphasis !default;
$bkc-select-dropdown-button-width: $bkc-input-button-width !default;
$bkc-select-dropdown-background: $bkc-input-background !default;
$bkc-select-dropdown-zindex: $bkc-zindex-top;

:host(.ng-invalid) {
  .custom-select .dropdown-btn {
    border: 1px solid $bkc-input-error-border-color;
  }
}
// @1 Custom select
//--------------------------------------------------------------------
.custom-select {
  font-size: 0; // custom elements font size bug
  min-width: 240px;
  position: relative;

  // @1.1 Inner elements
  //--------------------------------------------------------------------
  .dropdown-btn {
    
    background-color: $bkc-input-background;
    border: 1px solid $bkc-input-border-color;
    border-radius: $bkc-input-border-radius;
    height: $bkc-input-height;
    outline: none;
    padding: 0;
    position: relative;
    width: 100%;

    // @1.2 States (.dropdown-btn handles global custom-select state)
    //--------------------------------------------------------------------
    &.required {
      background-color: $bkc-input-required-background-color;
    }

    &[disabled] {
      background-color: $bkc-input-disabled-background-color;
      border: 1px solid $bkc-input-disabled-border-color;
      cursor: not-allowed;

      .custom-label {
        color: $bkc-input-disabled-label-color;
      }

      .dropdown-icon-wrapper {
        background-color: $bkc-input-disabled-icon-background;
        border-color: $bkc-input-disabled-border-color;
      }

      .dropdown-icon {
        color: $bkc-input-disabled-icon-color;
      }

      .custom-placeholder,
      .value {
        color: $bkc-input-disabled-value-color;
      }
    }

    &.dropdown-visible {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: $bkc-select-border-focus;
      
      .dropdown-icon {
        color: $bkc-select-icon-color-focus;
      }
    }
    //--------------------------------------------------------------------
  }

  .custom-label {
    font-family: $bkc-input-font-family;
    font-size: $bkc-input-label-font-size;
    font-weight: $bkc-input-label-font-weight;
    line-height: 1;
    margin: -1px 0 4px;
    text-transform: uppercase;
  }

  .required-icon {
    float: right;
    font-weight: bolder;
  }


  .value {
    color: $bkc-input-value-color;
    font-family: $bkc-input-font-family;
    font-size: $bkc-input-value-font-size;
    position: relative;
    top: 1px;
  }

  .custom-placeholder {
    @extend .value;
    color: $bkc-select-placeholder-color;
  }


  .text-wrapper {
    height: 100%;
    margin-right: $bkc-select-dropdown-button-width;
    padding: 12px 14px 10px;
    text-align: left;
  }

  .dropdown-icon-wrapper {
    background-color: $bkc-input-icon-background;
    border-left: 1px solid $bkc-input-border-color;
    display: table;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: $bkc-select-dropdown-button-width;

    &.dropdown-visible {
      border-left-color: $bkc-select-border-focus;
    }

    .dropdown-icon {
      color: $bkc-input-icon-color;
      display: table-cell;
      font-size: 16px;
      position: relative;
      vertical-align: middle;
    }
  }

  .dropdown-list {
    background-color: $bkc-select-dropdown-background;
    border: 1px solid $bkc-select-border-focus;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 0;
    list-style-type: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: $bkc-select-dropdown-zindex;
  }
}
 
  //-------------------------------------------------------------------

// @1.3 Media Queries
//--------------------------------------------------------------------

